body {
	background-color: #e6e6e6;
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', cursive;
	color: black;
	font-size: 15px;
	font-style: italic;
	line-height: 35px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 25px 50px;
}

.container-gray {
	background-color: #4d4d4d;
}

.main-container {
	background-color: #fff;
	background-image: url("../img/19.png");
	background-repeat: no-repeat;
	background-position: -68px -229px;
}

.container img {
	display: inline-block;
	vertical-align: top;
	margin: 100px 0px;
}

.content {
	display: inline-block;
	vertical-align: top;
	min-width: 300px;
	max-width: 650px;
	margin: 256px 0;
    margin-left: 100px;
}

.portfolio {
	color: black;
	padding: 40px 77px;
	font-size: 16px;
	line-height: 20px;
	
	text-transform: uppercase;
	background-image: url("../img/12.png");
	background-size: 300px 100px;
	background-repeat: no-repeat;
	width: 146px;
	height: 17px;
}

.portfolio:hover {
	opacity: 0.7;
	cursor: pointer;
}

.portfolio:active {
	color: black;
}

.post {
	color: #e0b30f;
	float: left;
	margin-top: 20px;
	font-size: 16px;
}

.post:hover {
	text-decoration: none;
}

.post:active {
	color: white;
}

.btn {
	font-style: normal;
	text-decoration: none;
}

.btn-portfolio {
	color: #e0b30f;
	border: 1px #e0b30f solid;
	font-size: 16px;
	float: right;
	padding: 20px 40px;
	border-radius: 40px;
	text-transform: uppercase;
}

.btn-portfolio:hover {
	color: white;
	border: 1px white solid;
}

.btn-portfolio:active {
	color: black;
	border: 1px black solid;
}

.clearfix::after {
	display: table;
	clear: both;

	content: "";
}

.social-btn {
	font-size: 0;

	position: relative;

	display: inline-block;

	width: 60px;
	height: 60px;
	margin-right: 10px;

	vertical-align: top;
	text-decoration: none;
}

footer {
	text-align: center; 
}

.social-btn:hover {
	opacity: 0.7;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn::before {
	position: absolute;
	top: 50%;
	left: 50%;

	content: "";

	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}

/*Facebook*/
.social-btn-fb::before {
	width: 60px;
    height: 60px;
    background-position: -5px -5px;

	-webkit-transform: translate(-30px, -30px);
			transform: translate(-30px, -30px);
}

.social-btn-fb:active::before {
	opacity: 0.3;
}

/*Skype*/
.social-btn-sk::before {
	width: 60px;
    height: 60px;
    background-position: -5px -75px;

	-webkit-transform: translate(-30px, -30px);
			transform: translate(-30px, -30px);
}

.social-btn-sk:active::before {
	opacity: 0.3;
}

/*GitHub*/
.social-btn-gh::before {
	width: 60px;
    height: 60px;
    background-position: -75px -5px;

	-webkit-transform: translate(-30px, -30px);
			transform: translate(-30px, -30px);
}

.social-btn-gh:active::before {
	opacity: 0.3;
}